In [1]:
import numpy as np 
import pandas as pd 
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [2]:
train=pd.read_csv('./data/train.csv')
test=pd.read_csv('./data/test.csv')
sample_submission=pd.read_csv('./data/sample_submission.csv')

## Data exploration

In [3]:
print(train.shape)
train.head()

(7613, 5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
print(test.shape)
test.head()

(3263, 4)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
print(sample_submission.shape)
sample_submission.head()

(3263, 2)

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

## model

In [6]:
#Cross_validation
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(train.text, train.target, test_size = 0.25, random_state = 0)
# print(X_train.shape,y_train.shape)
count_vect = feature_extraction.text.CountVectorizer()
X= count_vect.fit_transform(train.text)
y= train.target
X.shape,y.shape

((7613, 21637), (7613,))

In [7]:
X_test_vectors = count_vect.transform(test["text"])

In [8]:
#Cross_validation
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
X_train.shape,y_train.shape

((5709, 21637), (5709,))

In [9]:
# model
from sklearn.linear_model import LogisticRegression
model_logistic = LogisticRegression()
model_logistic.fit(X, y)
model_logistic.score(X, y)

C:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.967818205700775

In [10]:
scores = model_selection.cross_val_score(model_logistic, X, y, cv=5, scoring="f1")
scores

C:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([0.625     , 0.56160939, 0.62369057, 0.59318996, 0.72854914])

In [16]:
Y_pred=model_logistic.predict(X_test_vectors)
sample_submission["target"]=Y_pred
sample_submission.to_csv("submission_LogisticCV.csv", index=False)

In [17]:
sample_submission.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       0
4  11       1

#### 优化方向
1、tf-idf 
2、keyword和location
2、stop-words
3、LSTM/RNN